<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.quickwash">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_logo_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.QuickWash">
        <activity
            android:name=".side_menu"
            android:exported="true"
            android:label="@string/title_activity_side_menu"
            android:theme="@style/Theme.QuickWash.NoActionBar" />
        <activity
            android:name=".MainActivity"

            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".adminPage"
            android:label="Admin "/>
        <activity android:name=".register"
            android:label="User registration"/>
        <activity android:name=".home" />
        <activity android:name=".DeleteActivity"
            android:label="Delete users"/>
        <activity android:name=".ui.order.StartOrderActivity"
            android:parentActivityName=".side_menu"
            android:label="Start new order"/>
        <activity android:name=".ui.history.HistoryActivity"
            android:parentActivityName=".side_menu"
            android:label="History"/>
        <activity android:name=".ui.checkOrder.CheckOrderActivity"
            android:parentActivityName=".side_menu"
            android:label="Track Order"/>
        <activity android:name=".ProfileActivity"
            android:label="Profile"
            android:parentActivityName=".adminPage"></activity>
        <activity android:name=".userProfileActivity"
            android:label="Profile"></activity>
        <activity android:name=".display_customers"
            android:label="Display customer"
            android:parentActivityName=".adminPage"></activity>
        <activity android:name=".adminAcPermission"
            android:label="Admins"
            android:parentActivityName=".adminPage"></activity>
        <activity android:name=".displayAllAdmins"
            android:label="Admins" android:parentActivityName=".adminPage"></activity>
        <activity android:name=".Owner_admin"
            android:label="Complete access accounts list" android:parentActivityName=".adminPage"></activity>
        <activity android:name=".Cart"
            android:label="Cart" android:parentActivityName=".ui.order.StartOrderActivity"></activity>
        <activity android:name=".OrderPlacedActivty" android:label="Your order has been placed"
            android:parentActivityName=".ui.order.StartOrderActivity"></activity>
        <activity android:name=".PayementOrder" android:label="Payement Gateway"
            android:parentActivityName=".ui.order.StartOrderActivity"></activity>
        <activity android:name=".displayAllOrdersAdmin" android:label="Orders Completed" android:parentActivityName=".adminPage"></activity>
    </application>

</manifest>